<form [formGroup]="filterForm">
	<mat-form-field appearance="outline">
		<mat-label>Data inizio</mat-label>
		<input matInput [matDatepicker]="startPicker" formControlName="start">
		<mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
		<mat-datepicker #startPicker></mat-datepicker>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>Data fine</mat-label>
		<input matInput [matDatepicker]="endPicker" formControlName="end">
		<mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
		<mat-datepicker #endPicker></mat-datepicker>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>Tipologia</mat-label>
		<mat-select formControlName="documentType">
			<mat-option *ngFor="let type of documentTypes" [value]="type">{{type}}</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>Pratica</mat-label>
		<mat-select formControlName="practice">
			<mat-option *ngFor="let practice of practices" [value]="practice">{{practice}}</mat-option>
		</mat-select>
	</mat-form-field>

	<button mat-raised-button color="primary" (click)="applyFilters()">Applica</button>
	<button mat-button (click)="resetFilters()">Reset</button>
</form>